@import "../../../css/variables";

.c-event-form {
  padding: 1em;

  &__amount-of-events-field {
    padding: 0;
  }

  &__amount-of-events-input {
    max-height: 38px;
  }

  &__disclaimer {
    color: $darkest-gray;
    font-size: $small-font-size;
  }

  &__field-description {
    margin-right: .5em;
  }

  &__select-field {
    max-width: 120px;
  }

  &__time-picker {
    margin-left: 20%;

    @media screen and (max-width: $screen-width-max-mobile) {
      margin-left: 0;
    }
  }
}
