//=============================================================================
// Map .c-map
//=============================================================================

.c-map {
  flex-grow: 1;
  width: 100%;
  height: 100%;
}
