//=============================================================================
// Venue List .venue-list .list-toggle .list
//=============================================================================

@import "../../css/2_utilities/variables";

.venue-list {
  position: fixed;
  top: 60vh;
  width: 100%;
  background-color: $overlay-medium-blue;
}

.list-toggle {
  width: 100%;
  border: 0;
  margin-top: 1px;
  padding: $small-spacing 0;
  background-color: $overlay-deep-blue;
  color: $light-blue;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0 1px;

  &__item {
    margin: 0;
  }
}
