//=============================================================================
// Event List .c-event-list .list-toggle .list
//=============================================================================

@import "../../css/variables";

.c-event-list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 1px;
  height: 32vh;
  overflow-y: scroll;

  @media screen and (min-width: $screen-width-min-desktop) {
    height: initial;
  }

  &__container {
    background-color: $overlay-medium-blue;
    position: relative;
    width: 100%;

    @media screen and (min-width: $screen-width-min-desktop) {
      width: 76%;
    }
  }

  &__item {
    margin: 0;
  }

  &__toggle {
    background-color: $overlay-deep-blue;
    border: 0;
    color: $light-blue;
    margin-top: 1px;
    max-height: 44px;
    padding: $small-spacing 0;
    width: 100%;
  }

  @media screen and (min-width: $screen-width-min-desktop) {
    max-height: calc(100% - 48px);
  }
}
