@import "../../../css/variables";

.c-modal {
  @media screen and (max-width: $screen-width-max-mini-mobile) {
    padding: 0;
  }

  &__form {
    min-width: 300px;
  }

  &__radio-container {
    &:first-child {
      label {
        padding-bottom: 0;
      }
    }
  }

  &__radio-explanation {
    margin-left: .5em;
  }
}
