//=============================================================================
// Component overrides
//=============================================================================

.c-alert {
  border-radius: 0;
}

.c-button {
  background-color: $darkest-gray;
}

.c-field {
  margin-top: .25em;
}

.c-heading {
  font-weight: 400;
}

.c-label {
  text-align: left;
}

.c-nav {
  background-color: $darkest-gray;
}
