//=============================================================================
// Map .map
//=============================================================================

.map {
  content: url("map.png");
  width: 100%;
  opacity: 0.3;
}
