//=============================================================================
// Base
//=============================================================================

* {
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before, &:after {
    box-sizing: inherit;
  }

  &:focus {
    outline: none;
  }
}

html, body, .main {
  position: relative;
  display: block;
  min-height: 100%;
  text-align: center;
}

body {
  background: $deep-blue;
  background-attachment: fixed;
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
}
